.intro{
    padding: 0;
    height: 850px;
    width: 100%;
    background-image: url("./images/landing.jpg");
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
.toggle{
    font-size: 50px;
    cursor: pointer;
    color: #ffff;

}
.logo{
    margin-top:4%;
    text-align:center;
}
.intro-text{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 3%;
}

/* Section with breafast, dinner and lunch */

.marketing-split-words, .happy, .marketing {
    height: 210px;
    display: flex;
}
.marketing-split-words {
    flex-direction: row;
    width: 100%;
  }
  .happy {
    flex-direction: column;
    flex-grow: 1;
  }
  .marketing {
    flex-direction: row;
    flex-grow: 3;
  }

  #happy, #party, #marketing-breakfast,  #marketing-lunch , #marketing-dinner {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
  }
  #happy {
    color: black;
    background-color: whitesmoke;
    line-height: 105px;
  }
  
  #party {
    color: white;
    background-color: #f15a29;
    line-height: 105px;
  }
  #marketing-breakfast {
    background-image: url(./images/breakfast.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
    width: 33.33%;
    line-height: 210px;
  }
  
  #marketing-lunch {
    background-image: url(./images/lunch.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
    width: 33.33%;
    line-height: 210px;
  }
  
  #marketing-dinner {
    background-image: url(./images/dinner.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
    width: 33.33%;
    line-height: 210px;
  }
  
  #marketing-dinner:hover {
    background-image: url(./images/dinner2.jpg);
    background-size: cover;
  }

/* Css for the food show section */


.food-show {
    margin: auto;
    width: 80%;
    padding: 10% 10% 0 10%;
    display: flex;
    flex-direction: row;
  }
  
  .food-show-images {
    height: 50%;
    border: white solid 1px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: 0 70px 0 0;
  }

.food-show-images , .food-show-text{
    display: flex;
    flex-direction: column;
  }
  
  .food-show-heading {
    margin: 15px 0 15px 0;
  }
  #food-show-image-one {
    padding: 20px 20px 0 20px;
  }
  #food-show-image-two {
    padding: 0 20px 20px 20px;
  }
  #heading {
    font-size: 50px;
    color: rgb(59, 57, 57);
  }
  #message {
    font-size: 30px;
    color: rgb(59, 57, 57);
  }
  #description {
    font-size: 25px;
    color: rgb(59, 57, 57);
    display: inline-block;
  }
  
  .viewgallery:hover {
    background-color: #f15a29;
    color: white;
  }

/* Css for the drinks section */

.drinks-show {
    width: 80;
    margin: auto;
    padding: 10% 10% 0 10%;
    display: flex;
    flex-direction: row;
  }
  
  .drinks-show-images {
    height: 50%;
    display: flex;
    flex-direction: row;
    border: white solid 1px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: 0 0 0 70px;
  }
  .drinks-show-text {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .drinks-show-heading {
    margin: 15px 0 15px 0;
  }
  #drinks-show-image-one {
    padding: 20px 0 20px 20px;
  }
  #drinks-show-image-two {
    padding: 20px 20px 20px 0;
  }
  
  #messaging {
    font-size: 30px;
    color: rgb(59, 57, 57);
  }
  #drinks-description {
    font-size: 25px;
    color: rgb(59, 57, 57);
    display: block;
  }
  
  .viewdrinks:hover {
    background-color: #f15a29;
    color: white;
  }

/* Combined css for drinks and food */

.viewdrinks , .viewgallery{
    color: #f15a29;
    border: #f15a29 1px solid;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

