.intro{
    padding: 0;
    height: 850px;
    width: 100%;
    background-image: url("/images/landing.jpg");
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
.toggle{
    font-size: 50px;
    cursor: pointer;
    color: #ffff;

}
.logo{
    margin-top:4%;
    text-align:center;
}
.intro-text{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 3%;
}

/* .menu{
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    height: 50px;
    width: 75px;
} */








.column {
    float: left;
    width: 25%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .split-text{
    background-color: maroon;
    height: 200px;
  }
  .breakfast{
      height: 200px;
      background-color: black;
  }
  .lunch{
      height: 200px;
      background-color: green;
  }
  .dinner{
      height: 200px;
      background-color: hotpink;
  }
