.intro{
    padding: 0;
    height: 850px;
    width: 100%;
    background-image: url("./images//landing.jpg");
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
.toggle{
    font-size: 50px;
    cursor: pointer;
    color: #ffff;

}
.logo{
    margin-top:4%;
    text-align:center;
}
.intro-text{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 3%;
}

/* Section with breafast, dinner and lunch */


.marketing-split-words {
    display: flex;
    flex-direction: row;
    height: 210px;
    width: 100%;
  }
  .happy {
    height: 210px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .marketing {
    height: 210px;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
  }
  #happy {
    color: black;
    font-size: 25px;
    height: 50%;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    line-height: 105px;
  }
  
  #party {
    color: white;
    font-size: 25px;
    height: 50%;
    background-color: #f15a29;
    text-align: center;
    vertical-align: middle;
    line-height: 105px;
  }
  #marketing-breakfast {
    background-image: url(../Images/foodtop/breakfast.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
    font-size: 25px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
  }
  
  #marketing-lunch {
    background-image: url(../Images/foodtop/lunch.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
    font-size: 25px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
  }
  
  #marketing-dinner {
    background-image: url(../Images/foodtop/dinner.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
    font-size: 25px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
  }
  
  #marketing-dinner:hover {
    background-image: url(../Images/foodtop/dinner2.jpg);
    background-size: cover;
  }









.set-background{
    padding: 0;
}
.happy-bg{

}
.happy{
    height: 120px;
    width: 300px;
}
.img-bg-section{
    display: inline;
    width: 100%;
    height: 100%;
}

.text{
    color: white;
    font-size: 40px;
    padding: 16px 32px;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-family: 'Handlee', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






.column {
    float: left;
    width: 25%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .split-text{
    background-color: maroon;
    height: 200px;
  }
  .breakfast{
      height: 200px;
      background-color: black;
  }
  .lunch{
      height: 200px;
      background-color: green;
  }
  .dinner{
      height: 200px;
      background-color: hotpink;
  }
